@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }

  body {
    @apply bg-neutral-950 text-neutral-100 antialiased select-none;
    overscroll-behavior: none;
    touch-action: manipulation;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
